.example-spacer {
    flex: 1 1 auto;
}
.navbar .transparent {
    background: rgba(0,0,0,0.7);
 }

 .navbar-nav a {
    font-size: 3.2rem;
    color: #ecc136;
    font-family: "hogwarts";
    text-align: center;
 }