form{
    background: #232323;
    border-radius: 15px;
    padding: 20px;
    color: white;
}
h1 {
    color: #ecc136;
    font-family: 'hogwarts';
    text-align: center;
}

.mt-5 {
    margin-top: 2rem!important;
}
.m-t-10 {
    margin-top: 10px;
}
.m-b-20 {
    margin-bottom: 20px;
}