<div class="container">
    <div class="row m-t-5">
      <div class="col-12 col-sm-12 col-md-4 text-center ">
        <div class="card bg-dark text-white b-r-50">
          <img src="../../../assets/images/bgn.jpeg" class="card-img b-r-50" alt="...">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h5 class="card-title" routerLink="/characters">Characters</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 text-center">
        <div class="card bg-dark text-white b-r-50">
          <img src="../../../assets/images/bgn.jpeg" class="card-img b-r-50" alt="...">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h5 class="card-title" routerLink="/students">Students</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 text-center">
        <div class="card bg-dark text-white b-r-50">
          <img src="../../../assets/images/bgn.jpeg" class="card-img b-r-50" alt="...">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h5 class="card-title" routerLink="/teachers">Teachers</h5>
          </div>
        </div>
      </div>
    </div>
</div>