
.card-title {
    font-size: 3rem;
    color: #ecc136;
    font-family: "hogwarts";
    text-decoration: underline;
}
.card-img {
    mix-blend-mode: color-burn;
}
.bg-dark{
    background: rgb(255 255 255 / 8%) !important; 
}
.m-t-5 {
    margin-top: 5em;
}
.b-r-50 {
    border-radius: 50px;
}
